<form action="/kinds" method="POST">
<input type="radio" name="kind[name]" value="Dog">Dog! :)<br>
<input type="radio" name="kind[name]" value="Cat">Cat... :(<br>
<input type="submit" value="Submit">
</form>
