<h1> CREATE A PIG! </h1>

<form action='/pigs' method='post'>
  <input type="text" name="pig[name]" placeholder="name"><br><br>
  <input type="text" name="pig[weight]" placeholder="weight"><br><br>
  <textarea name="pig[past_life_identity]" placeholder="what was this pig in its past life?"></textarea>
  <input type="submit" value="create a pig!">
</form>
