<h1>Add New Restaurant</h1>
<form action="/restaurants" method="POST">
  <label>Name: </label>
  <input name="restaurant[name]" type="text" />
  <br><br>
  <label>Phone: </label>
  <input name="restaurant[phone]" type="text" />
  <br><br><br>
  <input type="submit" value="Submit" />
</form>
