<div class="container">
<h1>Welcome to your local animal adoption center!!</h1>
<ul>
  <li>Animals by species</li>
  <li>Animals by breed</li>
  <li>Animals by individual</li>
  <li>Animals by location</li>
</ul>
<br><br>
<a href="/locations/new">Put your pet up for adoption!!</a>
</div>
