<div class="frame">
  <h1>Sign Up</h1>
  <form action="/sign_up" method="post">
  <br><br>
  <font color="black">
  <label>Name</label>
  <input type="text" name="user[name]"><br><br>
  <label>Email</label>
  <input type="text" name="user[email]"><br><br>
  <label>Street</label>
  <input type="text" name="address[street]"><br><br>
  <label>City</label>
  <input type="text" name="address[city]"><br><br>
  <label>State</label>
  <input type="text" name="address[state]"><br><br>
  <label>Zip Code</label>
  <input type="text" name="address[zip_code]"><br><br>
  <label>Phone Number</label>
  <input type="text" name="user[phone_number]"><br><br>
  <label>Password</label>
  <input type="password" name="user[password]"><br><br>
  <input type="submit" value="Submit">
</font>
  </form>

  <a href="/">Login</a>
</div>
